body{
    background-color: rgb(0, 0, 23);
}

.card-container.card {
    max-width: 500px;
    padding: 40px 40px;
}

.btn.btn-signin {
    background-color: rgb(99, 99, 97);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
    background-color: rgb(19, 109, 163);
}

.container{
	margin: 0 auto;
	padding: auto;
}

.card {
    background-color: #F7F7F7;
    /* apenas no caso de não haver conteúdo*/
    padding: 45px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 100px;
    /* sombras e bordas arredondadas */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}